<form [formGroup]="postForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="post-form">
    <mat-card-header>
      <mat-card-title>Create a New Entry</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Title" formControlName="title" />
            <mat-error
              *ngIf="postForm.controls['title'].hasError('required')"
            >
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Body"
              formControlName="body"
            ></textarea>
            <mat-error
              *ngIf="postForm.controls['body'].hasError('required')"
            >
              Body <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
