<div *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button mat-raised-button color="primary" (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </button>
</div>
<ng-template #showLogin>
  <div class="login-form">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
      <mat-card class="form-card">
        <mat-card-header>
          <mat-card-title>Please Login :</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Enter your email"
                  formControlName="email"
                />
                <mat-error
                  *ngIf="loginForm.controls['email'].hasError('required')"
                >
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                type="password"
                  matInput
                  placeholder="Enter your password"
                  formControlName="password"
                />
                <mat-error
                  *ngIf="loginForm.controls['email'].hasError('required')"
                >
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
        <mat-card-footer>

          <br>
          <button mat-raised-button color="warn" (click)="googleLogin()">
            <mat-icon>open_in_new</mat-icon>  Login with Google
          </button>
        </mat-card-footer>
      </mat-card>
    </form>
  </div>
</ng-template>
