.post-card{
  margin: auto;
  max-width: 40%;
}
.post-card img{
  /* max-width: 200px; */
}

.post-btn{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 30%;
  /* top: 10px; */
}
