<button
  (click)="toggleForm('post')"
  mat-fab
  color="primary"
  aria-label="Write post button"
  class="post-btn"
>
  <mat-icon>post_add</mat-icon>
</button>

<app-post-editor *ngIf="showPostForm"></app-post-editor>

<li class="text" *ngFor="let item of items | async">
  <mat-card class="post-card">
    <mat-card-header>
      <mat-card-title>{{ item.title }}</mat-card-title>
      <mat-card-subtitle
        >{{ item.author }} - {{ item.date | relativeDate }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ item.img }}" />
    <mat-card-content>
      {{ item.body }}
    </mat-card-content>
  </mat-card>
</li>
